#img{
    width:222px;
    height: 222px;
    margin: 0px 30px 20px 40px;
    float: left;
}
#sureBt{
    margin-left: 450px;
    MARGIN-TOP: 25PX;
    WIDTH: 100PX;
    TEXT-ALIGN: CENTER;
}
.u-label{
    color: #1b1e21;
}
#label_div{
    margin-left: 220px;
    margin-top: 20px;
    float: left;
}
#logout{
    border-radius: 10px;
    margin-left:850px;
}