#seat_div{
    margin-left: 10%;
}
.front{width: 618px;margin: 5px 32px 45px 32px;background-color: #f0f0f0; color: #666;text-align: center;padding: 3px;border-radius: 5px;}
#seat_details { margin-top:100px; float: left;position: relative;width:210px;height: 450px;margin-left: 40px; }
#seat_details h3 {margin: 5px 5px 0 0;font-size: 16px;}
#seat_details p{line-height:26px; font-size:16px; color:#999}
#seat_details p span{color:#666}
div.seatCharts-cell {color: #182C4E;height: 25px;width: 25px;line-height: 25px;margin: 3px;float: left;text-align: center;outline: none;font-size: 13px;}
div.seatCharts-seat {color: #fff;cursor: pointer;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius: 5px;}
div.seatCharts-row {height: 35px;}


/*座位颜色、种类*/
div.seatCharts-seat.available.a {background-color: #CC33CC;}
div.seatCharts-seat.available.b {background-color: #00FFFF;}
div.seatCharts-seat.available.c {background-color: #FF6633;}
div.seatCharts-seat.available.d {background-color: #33FF00;}

div.seatCharts-seat.unavailable {background-color: #000000;cursor: not-allowed;}
div.seatCharts-seat.sold.s {background-color: #804040;cursor: not-allowed;}

div.seatCharts-seat.focused {background-color: #FF6699;border: none;}
div.seatCharts-seat.selected {background-color: #FF0000;}
div.seatCharts-container {border-right: 1px dotted #adadad;width: 700px;padding: 20px;float: left;}
div.seatCharts-legend {padding-left: 0px;position: absolute;bottom: 16px;}
ul.seatCharts-legendList {padding-left: 0px;}
.seatCharts-legendItem{float:left; width:90px;margin-top: 10px; margin-left: 15px; line-height: 2;}
span.seatCharts-legendDescription {margin-left: 5px;line-height: 30px;}
.checkout-button {display: block;width:80px; height:24px; line-height:20px;margin: 10px auto;border:1px solid #999;font-size: 14px; cursor:pointer}
#selected-seats {max-height: 150px;overflow-y: auto;width: 210px;}
#selected-seats li{list-style-type:none; float:left; width:72px; height:26px; line-height:26px; border:1px solid #d3d3d3; background:#f7f7f7; margin:6px; font-size:14px; font-weight:bold; text-align:center}
